<!DOCTYPE html>
<html>
  <head>
    <title>Habit Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {% if user.is_authenticated %}
    <p>
      Logged in as {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="success-message">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <hr />
    {% block content %}{% endblock %}
  </body>
</html>
